In [1]:
import pandas as pd
import numpy as np

In [49]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [19]:
print(train.info(verbose=True))
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Data columns (total 143 columns):
Id                 object
v2a1               float64
hacdor             int64
rooms              int64
hacapo             int64
v14a               int64
refrig             int64
v18q               int64
v18q1              float64
r4h1               int64
r4h2               int64
r4h3               int64
r4m1               int64
r4m2               int64
r4m3               int64
r4t1               int64
r4t2               int64
r4t3               int64
tamhog             int64
tamviv             int64
escolari           int64
rez_esc            float64
hhsize             int64
paredblolad        int64
paredzocalo        int64
paredpreb          int64
pareddes           int64
paredmad           int64
paredzinc          int64
paredfibras        int64
paredother         int64
pisomoscer         int64
pisocemento        int64
pisoother          int64
pisonatur          int64
pisonotiene        int64
pisomadera         int64
techozinc          int64
techoentrepiso     int64
techocane          int64
techootro          int64
cielorazo          int64
abastaguadentro    int64
abastaguafuera     int64
abastaguano        int64
public             int64
planpri            int64
noelec             int64
coopele            int64
sanitario1         int64
sanitario2         int64
sanitario3         int64
sanitario5         int64
sanitario6         int64
energcocinar1      int64
energcocinar2      int64
energcocinar3      int64
energcocinar4      int64
elimbasu1          int64
elimbasu2          int64
elimbasu3          int64
elimbasu4          int64
elimbasu5          int64
elimbasu6          int64
epared1            int64
epared2            int64
epared3            int64
etecho1            int64
etecho2            int64
etecho3            int64
eviv1              int64
eviv2              int64
eviv3              int64
dis                int64
male               int64
female             int64
estadocivil1       int64
estadocivil2       int64
estadocivil3       int64
estadocivil4       int64
estadocivil5       int64
estadocivil6       int64
estadocivil7       int64
parentesco1        int64
parentesco2        int64
parentesco3        int64
parentesco4        int64
parentesco5        int64
parentesco6        int64
parentesco7        int64
parentesco8        int64
parentesco9        int64
parentesco10       int64
parentesco11       int64
parentesco12       int64
idhogar            object
hogar_nin          int64
hogar_adul         int64
hogar_mayor        int64
hogar_total        int64
dependency         object
edjefe             object
edjefa             object
meaneduc           float64
instlevel1         int64
instlevel2         int64
instlevel3         int64
instlevel4         int64
instlevel5         int64
instlevel6         int64
instlevel7         int64
instlevel8         int64
instlevel9         int64
bedrooms           int64
overcrowding       float64
tipovivi1          int64
tipovivi2          int64
tipovivi3          int64
tipovivi4          int64
tipovivi5          int64
computer           int64
television         int64
mobilephone        int64
qmobilephone       int64
lugar1             int64
lugar2             int64
lugar3             int64
lugar4             int64
lugar5             int64
lugar6             int64
area1              int64
area2              int64
age                int64
SQBescolari        int64
SQBage             int64
SQBhogar_total     int64
SQBedjefe          int64
SQBhogar_nin       int64
SQBovercrowding    float64
SQBdependency      float64
SQBmeaned          float64
agesq              int64
Target             int64
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23856 entries, 0 to 23855
Columns: 142 entries, Id to agesq
dtypes: float64(8), int64(129), object(5)
memory usage: 25.8+ MB
None

In [9]:
#### Check if there are any NULL values in Test Data
print("Total Test Features with NaN Values = " + str(test.columns[test.isnull().sum() != 0].size))
if (test.columns[test.isnull().sum() != 0].size):
    print("Features with NaN => {}".format(list(test.columns[test.isnull().sum() != 0])))
    test[test.columns[test.isnull().sum() != 0]].isnull().sum().sort_values(ascending = False)

Total Test Features with NaN Values = 5
Features with NaN => ['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned']

In [8]:
#### Check if there are any NULL values in Train Data
print("Total Train Features with NaN Values = " + str(train.columns[train.isnull().sum() != 0].size))
if (train.columns[train.isnull().sum() != 0].size):
    print("Features with NaN => {}".format(list(train.columns[train.isnull().sum() != 0])))
    train[train.columns[train.isnull().sum() != 0]].isnull().sum().sort_values(ascending = False)

Total Train Features with NaN Values = 5
Features with NaN => ['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned']

In [52]:
remove = []

for col in list(train.columns[train.isnull().sum() != 0]):
    print("{}: {}".format(col, train[col].isnull().sum()/len(train)))
    if train[col].isnull().sum()/len(train) > 0.7:
        remove.append(col)
        
train.drop(remove,axis=1,inplace=True)
test.drop(remove,axis=1,inplace=True)

print("Removed: {}".format(remove))

Removed: []

In [51]:
train.fillna(train.mean(),inplace=True)
test.fillna(train.mean(),inplace=True)

In [53]:
objects = []
for col in train.columns:
    if train[col].dtype == 'object':
        objects.append(col)
objects

['Id', 'idhogar', 'dependency', 'edjefe', 'edjefa']

In [54]:
train.drop(objects,axis=1,inplace=True)
test.drop(objects,axis=1,inplace=True)

In [55]:
#### Check and remove constant columns
colsToRemove = []
for col in train.columns:
    if train[col].std() == 0: 
        colsToRemove.append(col)
        
# remove constant columns in the train_Xing set
train.drop(colsToRemove, axis=1, inplace=True)

# remove constant columns in the test set
test.drop(colsToRemove, axis=1, inplace=True) 

print("Removed `{}` Constant Columns\n".format(len(colsToRemove)))
print(colsToRemove)

Removed `1` Constant Columns

['elimbasu5']

In [56]:
##### Check and remove duplicate columns
colsToRemove = []
colsScaned = []
dupList = {}

columns = train.columns

for i in range(len(columns)-1):
    v = train[columns[i]].values
    dupCols = []
    for j in range(i+1,len(columns)):
        if np.array_equal(v, train[columns[j]].values):
            colsToRemove.append(columns[j])
            if columns[j] not in colsScaned:
                dupCols.append(columns[j]) 
                colsScaned.append(columns[j])
                dupList[columns[i]] = dupCols
                
# remove duplicate columns in the training set
train.drop(colsToRemove, axis=1, inplace=True) 

# remove duplicate columns in the testing set
test.drop(colsToRemove, axis=1, inplace=True)

print("Removed `{}` Duplicate Columns\n".format(len(dupList)))
print(dupList)

Removed `2` Duplicate Columns

{'tamhog': ['hhsize', 'hogar_total'], 'SQBage': ['agesq']}

In [58]:
#### drop sparse data
def drop_sparse(train, test):
    flist = [x for x in train.columns]
    for f in flist:
        if len(np.unique(train[f]))<2:
            train.drop(f, axis=1, inplace=True)
            test.drop(f, axis=1, inplace=True)
    return train, test

train, test = drop_sparse(train, test)

In [59]:
print("Train set size: {}".format(train.shape))
print("Test set size: {}".format(test.shape))

Train set size: (9557, 131)
Test set size: (23856, 130)

In [ ]:
train_y = train['target']
del